/*
:Author: Anneliese Travis, Katie Jones and Piranavie Thangasuthan
Stylesheet for the tutor/gamemaster screens
*/

/* ----BASIC FORMATTING --- */
body {
     background-image: url(images/background.jpg);
	 background-size:100% auto;
	font-family: nrkis;
    width:-moz-available;
    width:-webkit-fill-available;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
	margin-bottom: 10%;
}
/* ----Formatting for buttons at top of screen --- */
.top_buttons{
	text-align: center;
	display: flex;
}

.title {
    font-size: 40px;
    font-weight: bold;
	opacity: 0.9;
    text-align: center;
    color: white;
    background-color: #012060;
    padding: 25px;
    margin-top:70px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
	position: relative;
	z-index:-1;
}

/* ---- formatting for containers for map, qr code scanner video and quiz --- */
.container{
    background-color: #FCF8F8;
    position: static;
    height: 90%;
    opacity:0.8;
    width:-webkit-fill-available;
    width:-moz-available;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    position: relative;
}

/* formatting for score text */
.score{
	font-size: 40px;
	font-weight: bold;
	opacity: 0.9;
	text-align: center;
	color: white;
	background-color: #012060;
	padding: 25px;
	display: block;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#helpButton{
	float:right;
}
/* formatting for login button */
#loginButton {
  background-color: #012060;
  font-size: 2em;
  color: white;
  padding: 40px;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 20px;
  font-family: nrkis;
}


/* formatting for the scoreboard table */
table{
  border-collapse: collapse;
  width: 100%;
  margin-top:100px;
  text-align: center;
  font-size:2em;
}

td, th {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #012060;
  color: white;
  text-align: center;
}


/* ----QUIZ---- */

.unchecked{
	font-size: large;
	text-align: center;
	background-color: #FCF8F8;
	color: #000000;
	font-family: nrkis;
	padding: 40px;
}
#error{
	margin: 0px;
	padding: 33px;
	text-align: center;
	font-size: 30px;
}
/* formatting for question box */
.question{
	margin: 0px;
	text-align: center;
	font-size: 50px;
	padding: 40px;
	font-weight: bolder;
}
/* formatting for question text*/
#questionText {
    font-size: small;
    color: #000000;
    height: 20px;
    width: 470px;
    margin-left: 10px;
}
/* formatting for map */
#fullMapDisplay {
	margin-left: 0;
	margin-right:0;
	width:100%;
}

/* ----QR---- */

.container video{
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

/* ----HOMEPAGE---- */

.form-popup {
	display: none;
	position: fixed;
	border: 3px solid #f1f1f1;
	z-index: 9;
}
#usernameInput, #tutorList{
   width: -webkit-fill-available;
   width:-moz-available;
   width: -moz-available;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 5px;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   margin-top: 10px;
}
/* formatting for input box */
input, select, label{
	font-size: 30px;
}

/* formatting for logos on screen*/
img.topImage, img.bottomImage{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

/* ----FAQ PAGE---- */
#informationDisplay{
    overflow: scroll;
    height: 1200px;
}
/* formatting for checkbox input for terms*/
input[type=checkbox] {
	    float: left;
font-size: ;
height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid #555;
}

p {
	font-size: 31px;
}
#informationText {
    font-size: 12px;
    color: #000000;
    padding: 20px;
}


  @font-face {
    font-family: 'nrkis';
    src: url('fonts/nrkis.ttf')  format('truetype');

  }

  .header_image{
    width: 100%;
    margin-top: -38%;
    display: inline;
    margin-right: auto;
}
  .main {
    padding: 5px;
    padding-bottom: 20px;
    background: rgb(226,211,180);
    background: rgb(226,211,180, 0.75);
    width:70%;
    overflow: hidden;
    margin:auto;
    text-align: center;
    margin-bottom: 20%;
  }
  p{
    margin: 20px;
    font-family: nrkis;
  }

  .header{
    background-color: #012060;
    box-shadow: 5px black;
    width: 100%;
    height: 94px;
    opacity: 0.9;
    margin-top: 6%;
    display: block;
  }

  .topnav{
    list-style-type: none;
    padding:0px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
      float: right;
      display:flex;
      flex-direction: row;
      display: -ms-grid;
      display: grid;
      grid-template-columns: 19% 19% auto 19% 19%;
      -ms-grid-template-columns: 19% 19% auto 19% 19%;
      font-family: nrkis;
      border-radius: 5px;
      width:100%;

  }
  .topnav li:hover {
    opacity: 1;
  }

option {
	font-size: 12px;
	/* margin: -10px; */
	/* padding: 0; */
	padding-left: -5px;
	/* white-space: unset; */
	/* text-align: left; */
	/* text-indent: -202.5px; */
}

.list{
  text-align: left;
  padding-left: 0px;
  font-family: nrkis;
    margin-left: 50px;
}
.list li, .list p{
  margin-top: 5px;

}
/* formatting for drop down boxes and its contents */
.dropbtn{
  margin-left:auto;
  margin-right:auto;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn{
  margin-left:auto;
  margin-right:auto;
}
  .topnav li a, .dropbtn li a, .dropdown{
    display: block;
    color: #ffffff;
    /* opacity: 0.9; */
    font-family: nrkis;
    text-decoration: none;
    text-align:center;
    text-shadow:1px 1px 2px black;
    padding: 15px;
    width:100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding-top: 6px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
  }
  .topnav li a:hover{
    transition: 0.4s;
    opacity: 1;
  }
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #012060;
  width: 16.7%;
  top: 191px;
  opacity: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left:auto;
  margin-right:auto;
}

.topnav li{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:-webkit-fill-available;
  margin-top: 10px;
  font-size:40px;
}

.left{
  display: inline;
  float: left;
  width:49%;
  text-align: left;
}
.right{
  display: inline;
  float: right;
  width:49%;
  text-align: right;
}

.topnav li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
}
@media screen and (max-width: 600px) {

.g-recaptcha{
border-radius: 4px;
border-right: 1px solid #d8d8d8;
overflow: hidden;
}
}
  @font-face {
    font-family: 'nrkis';
    src: url('fonts/nrkis.ttf')  format('truetype');

  }
.container video {
    max-width: -webkit-fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
}

}
