/* ----Katie Jones and Piranavie Thangasuthan---- */

/* ----BASIC FORMATTING --- */
#body {
    background-color: #98EAFA;
    position: absolute;
    width: 500px;
    height: 50px;
}

#homeButton {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0700FF;
    height: 50px;
    width: 150px;
    position: static;
    margin: 10px;
}

#pointsDisplayTag {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: large;
    font-weight: bold;
    height: 50px;
    width: 250px;
    border: thin solid #000000;
    text-align: center;
    border-radius: 50px;
    position: top left;
    margin-left: 60px;
}

#mapDisplay{
    background-color:black;
    position: static;
    height: 200px;
    width: 480px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img.QRButton{
  background-image: url(file:///Macintosh%20HD/Users/piranavie/Desktop/qr-code-button-application-with-red-line-scanning-vector-25622568.jpg);
  background-color: #F2E5E5;
  width: 70px;
  height: 70px;
  display: block;
  float: right;
}

#button {
	float: left;
	width: 50%;
}


#ScoreBoardButton {
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  font-size: large;
  font-weight: bold;
  border: thin solid #000000;
  color: #090909;
  background-color: #FCF8F8;
  height: 50px;
  width: 150px;
  position: static;
 
}

#closeButton {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: large;
    font-weight: bold;
    border: thin solid #000000;
    color: #FCF8F8;
    background-color: #090909;
    height: 50px;
    width: 50px;
    position: static;
}

/* ----SCOREBOARD---- */
#ScoreBoardDisplay{
    background-color: #FCF8F8;
    position: static;
    height: 350px;
    width: 480px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#ScoreBoardTitle {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: xx-large;
    font-weight: bold;
    color: #00D7FF;
    background-color: #090909;
    height: 50px;
    width: 430px;
    position: absolute;
    text-align: center;
}

/* ----QUIZ---- */
#quiz{
    background-color: #FCF8F8;
    position: static;
    height: 420px;
    width: 480px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#quizTitle {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: xx-large;
    font-weight: bold;
    color: #00D7FF;
    background-color: #090909;
    height: 50px;
    width: 430px;
    position: absolute;
    text-align: center;
}

#questionText {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: small;
    color: #000000;
    height: 20px;
    width: 470px;
    position: absolute;
    bottom: -320px;
    margin-left: 10px;
}

#answerBox1 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: medium;
    text-align: center;
    background-color: #FCF8F8;
    height: 120px;
    width: 120px;
    color: #000000;
    border-color: #000000;
    position: absolute;
    bottom: -450px;
    left: 30px;
}

#answerBox2 {
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size: medium;
  text-align: center;
  background-color: #FCF8F8;
  height: 120px;
  width: 120px;
  color: #000000;
  border-color: #000000;
  position: absolute;
  bottom: -450px;
  right: 30px;
}

#answerBox3 {
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size: medium;
  text-align: center;
  background-color: #FCF8F8;
  height: 120px;
  width: 120px;
  color: #000000;
  border-color: #000000;
  position: absolute;
  bottom: -590px;
  left: 30px;
}

#answerBox4 {
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size: medium;
  text-align: center;
  background-color: #FCF8F8;
  height: 120px;
  width: 120px;
  color: #000000;
  border-color: #000000;
  position: absolute;
  bottom: -590px;
  right: 30px;
}

#clueButton {
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  font-size: large;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0700FF;
  height: 50px;
  width: 150px;
  position: absolute;
  bottom: -650px;
  right: 180px;
}

/* ----QR---- */
#QRScannerTitle {
    background-color: #090909;
    height: 50px;
    width: 430px;
    position: absolute;
	
}

.QRScanner video{
  position: static;
  height: 350px;
  max-width: 480px;
}
.QRScanner{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ----MAP---- */
#fullMapDisplay{
  background-color:black;
  position: static;
  height: 500px;
  width: 480px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ----HOMEPAGE---- */
#usernameInput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#tutorList{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


#loginButton {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

img.topImage{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.bottomImage{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
