/*
:Author: Jasmine West, Keith Harrison, Anneliese Travis 
Stylesheet for the tutor/gamemaster screens
*/

/*Background colour and default font for the tutor login page*/
body {font-family: Arial, Helvetica, sans-serif; background-color: #c2eaed;}

/*Padding for tutor login text*/
h1{padding: 20px;}

/*formatting for the border of the table and its background colour */
table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ddeef0;
  width: 100%;
}

/*formatting for the tables text */
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/*formatting for the tables box's colors */
tr:nth-child(even) {background-color: #e6f1f2;}
tr:hover {background-color: #c2d0d1;}

  /*formatting for the input boxes*/
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /*formatting for the drop down boxes*/
  select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /*formatting for the add and remove buttons*/
  button {
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #999999;
    background-color: #cccccc;
    width: 50%;
  }

  button.hover {
    background-color: #b3b3b3;
  }
  button.active {
    background-color: #b3b3b3;
  }

.sessions {
  text-align: right;
}

/* Style the tab */
.tab {
  color: black;
  overflow: hidden;
  border: 1px solid #999999;
  background-color: #cccccc;
}

/* Style the buttons inside the tab */
.tab button {
  color: black;
  width: 20%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b3b3b3;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #b3b3b3;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Login button on tutor-login page */
#loginButton {
  background-color: #012060;
  font-size: 2em;
  color: white;
  padding: 40px;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 20px;
  font-family: nrkis;
}
