/*
:Author: Jasmine West, Keith Harrison, Anneliese Travis 
Stylesheet for the tutor/gamemaster screens
*/

/*Background colour and default font for the tutor login page*/
body {
	font-family: nrkis;
	background: beige;
	margin:0;
}
.all::after {
	background: url(images/findExeterLogo.png);
	background-size: cover;
	height: 800px;
	background-position-y: 50%;
	opacity: 0.3;
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*Padding for tutor login text*/
h1{padding: 20px;}

/*formatting for the border of the table and its background colour */
table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #ddeef0;
  width: 100%;
}
 th{
 	background-color: #012060;
 	color:white
 }
/*formatting for the tables text */
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/*formatting for the tables box's colors */
tr:nth-child(even) {background-color: #e6f1f2;}
tr:hover {background-color: #c2d0d1;}

  /*formatting for the input boxes*/
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /*formatting for the drop down boxes*/
  select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /*formatting for the add and remove buttons*/
  button {
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: 1px solid #999999;
    background-color: #012060;
    width: -moz-available;
    width: -webkit-fill-available;
    font-family: nrkis;
  }

  button.hover {
    background-color: #b3b3b3;
  }
  button.active {
    background-color: #012060;
  }

.sessions {
  text-align: right;
}

/* Style the tab */
.tab {
  color: black;
  overflow: hidden;
  border: 1px solid #999999;
  background-color: #012060;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  width: 20%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: nrkis;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #b3b3b3;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #012060;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Login button on tutor-login page */
#loginButton {
  background-color: #012060;
  font-size: 2em;
  color: white;
  padding: 40px;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 20px;
  font-family: nrkis;
}
/* Button div style */
.button {
  display: block;
  width: 48%;
  float: left;
  /* margin-top: 8px; */
  margin-left: 10px;
  font-family: nrkis;
}

/* Logout button */
.logout{
  float: right;
  margin-right: 10px;
  width: 49%;
  /* margin-top: 2px; */
  font-family: nrkis;
}

@font-face {
  font-family: 'nrkis';
  src: url('fonts/nrkis.ttf')  format('truetype');
}